.randomPlanet {
  display: flex;
  justify-content: space-around;
  h3 {
    font-family: 'deathstar';
  }
  &__img {
    display: block;
    width: 150px;
    height: 150px;
    margin: 0 10px;
    border: 2px inset;
    border-radius: 20px;
  }

  &__info{
    font-size: 1.2rem;
  }
}