.errormsg {
  h3 {
    font-family: 'starwars';
  }
  img {
    filter: invert(100%);
    height: 125px;
  }
  div {
    font-family: 'alien';
  }
  width: 100%;
  text-align: center;
  font-style: bold;
}